<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Baby Names</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/app.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="babyn" layout="column" ng-controller="App" autoscroll="true">

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-md ng-click="toggleList()" aria-label="Show Names List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Baby Names</h1>
    </md-toolbar>
    <a id="top"></a>
    <div flex layout="row" style="overflow: auto;">

        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
          <ul class="docs-menu">
            <li ng-class="{'parentActive' : isSectionSelected(section)}" class="parent-list-item">
              <md-button  ng-click="selectPg()" ui-sref="home" ng-class="{'selected' : isSelected('home')}" >
  <i class="fa fa-child fa-fw" ></i> Baby Names
              </md-button>
            </li>
            <li ng-class="{'parentActive' : isSectionSelected(section)}" class="parent-list-item">
              <md-button  ng-click="selectPg()" ui-sref="addname" ng-class="{'selected' : isSelected('addname')}"  >
                <i class="fa fa-plus fa-fw" ></i> Add a Name
              </md-button>
            </li>
          </ul>
        </md-sidenav>

        <md-content md-scroll-y flex layout-padding id="content" ng-cloak>
          <div ui-view ></div>
        </md-content>


    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/angular-utils-pagination/dirPagination.js"></script>

    <script src="./src/app/services/services.module.js"></script>
    <script src="./src/app/services/logger.js"></script>
    <script src="./src/app/services/dataservices.js"></script>

    <script src="./src/app/app.module.js"></script>
    <script src="./src/app/app.routes.js"></script>
    <script src="./src/app/app.controller.js"></script>
    <script src="./src/app/home/home.controller.js"></script>
    <script src="./src/app/name/name.controller.js"></script>

  </body>
</html>
