<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Baby Names</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/app.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul" autoscroll="true">

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-md ng-click="ul.toggleList()" aria-label="Show Names List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Baby Names</h1>
    </md-toolbar>
    <a id="top"></a>
    <div flex layout="row" style="overflow: auto;">

        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
          <ul class="docs-menu">
            <li ng-class="{'parentActive' : isSectionSelected(section)}" class="parent-list-item">
              <a class="md-button md-default-theme" ng-click="focusSection()" ng-href="#/getting-started" ng-class="{'active' : isSelected()}" tabindex="0" href="#/getting-started"><span class="ng-binding ng-scope">
  <i class="fa fa-child fa-fw" ></i> Baby Names
  </span>
              </a>
            </li>
            <li ng-class="{'parentActive' : isSectionSelected(section)}" class="parent-list-item">
              <a class="md-button md-default-theme" ng-click="focusSection()" ng-href="#/getting-started" ng-class="{'active' : isSelected()}" tabindex="0" href="#/getting-started"><span class="ng-binding ng-scope">
  <i class="fa fa-plus fa-fw" ></i> Add a Name
  </span>
              </a>
            </li>
          </ul>
          <md-list>
            <md-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
                  <i class="fa fa-child fa-fw" ></i> {{it.name}}
                </md-button>
            </md-item>
          </md-list>
        </md-sidenav>

        <md-content md-scroll-y flex layout-padding id="content" ng-cloak>
          <!--<md-item ng-repeat="name in ul.names">
            <md-button ng-click="">
              <md-icon  class="avatar"></md-icon>
              {{name.nm}}
            </md-button>
          </md-item>-->
          <md-radio-group layout="row" ng-model="ul.gender" ng-change="ul.loadNames()">
            <md-radio-button value="g" class="md-primary md-title" >Girl</md-radio-button>
            <md-radio-button value="b" class=" md-title" > Boy </md-radio-button>
            <md-radio-button value="favs" class="md-primary md-title"> Favs </md-radio-button>
          </md-radio-group>
          <md-divider class="divider-btm"></md-divider>
          <md-grid-list ng-if="ul.gender!=='favs'" layout="row" layout-align="center center"
            md-cols-gt-md="26" md-cols-sm="8" md-cols-md="13" md-row-height="40px"
            md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
            <md-grid-tile
              ng-repeat="ltrs in ul.letters"
              md-colspan-gt-sm="1"
              md-rowspan-gt-sm="1">
              <md-button class="md-raised letter-button" ng-click="ul.setLetter(ltrs.ltr)" ng-class="{'md-primary' : ltrs.ltr === ul.selectedLtr }" >{{ltrs.ltr}}</md-button>
            </md-grid-tile>
          </md-grid-list>
          <div layout="row" ng-if="ul.loading" class="loading-br" layout-sm="column" layout-align="space-around">
            <md-progress-linear md-diameter="20" md-mode="indeterminate"></md-progress-linear>
          </div>

          <!--<div layout="row" layout-align="center center" >
            <md-button ng-repeat="ltrs in ul.letters" class="md-raised letter-button" ng-click="ul.setLetter(ltrs.ltr)" >{{ltrs.ltr}}</md-button>
          </div>
          <div style="width:500px;height:90px;" layout="row" layout-wrap ng-repeat="name in ul.names">
            <div flex="33" layout="row" layout-align="center start">{{ name.nm }}</div>
            <div flex="66" layout="row" layout-align="end center"> {{ name.dc }}</div>
          </div>-->
          <div ng-if="ul.gender!=='favs'">
            <md-card dir-paginate="name in ul.names | itemsPerPage: 50" current-page="ul.currentPage">
              <md-card-content>
                <div layout="row" layout-wrap>
                  <div flex="75" class="baby-nm-ds">
                    <i class="fa fa-lg md-fa-lg" ng-class="name.sx=='b'?'fa-male baby-boy':'fa-female baby-grl'" ></i>
                    <div>
                      <span class="md-title">{{ name.nm }}</span><br/>
                      <span class="name-dsc" >
                        {{ name.dc }}
                      </span>
                    </div>
                  </div>
                  <div flex="25" >
                    <md-button class="md-fab md-mini pull-right" aria-label="Add to Favorites" ng-click="ul.addToFavs(name, true)">
                      <md-tooltip>
                        Add to Favorites
                      </md-tooltip>
                      <i class="fa fa-lg md-fa-lg" ng-class="name.fv?'fa-star':'fa-star-o'" ></i>
                    </md-button>
                  </div>
                </div>
              </md-card-content>
              <!--<div class="md-actions" layout="row" layout-align="end center">
                <md-button>Like</md-button>
                <md-button>Add</md-button>
              </div>-->
            </md-card>
          </div>
          <div ng-if="ul.gender==='favs'">
            <div dir-paginate="name in ul.names | itemsPerPage: 500"   current-page="ul.currentPage">
              <md-card ng-if="name.fv===true">
                <md-card-content>
                  <div layout="row" layout-wrap>
                    <div flex="75" class="baby-nm-ds">
                      <i class="fa fa-lg md-fa-lg" ng-class="name.sx=='b'?'fa-male baby-boy':'fa-female baby-grl'" ></i>
                      <div>
                        <span class="md-title">{{ name.nm }}</span><br/>
                      <span class="name-dsc" >
                        {{ name.dc }}
                      </span>
                      </div>
                    </div>
                    <div flex="25" >
                      <md-button class="md-fab md-mini md-warn pull-right" aria-label="Add to Favorites" ng-click="ul.addToFavs(name, false)">
                        <md-tooltip>
                          Remove from Favorites
                        </md-tooltip>
                        <i class="fa fa-times fa-lg md-fa-lg"></i>
                      </md-button>
                    </div>
                  </div>
                </md-card-content>
              </md-card>
            </div>
          </div>
          <dir-pagination-controls on-page-change="ul.pageChange(newPageNumber)" class="pull-right">
          </dir-pagination-controls>
        </md-content>


    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/angular-utils-pagination/dirPagination.js"></script>



    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script src="./src/app/services/services.module.js"></script>
    <script src="./src/app/services/logger.js"></script>
    <script src="./src/app/services/dataservices.js"></script>


    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./svg/avatars.svg", 128)
                      .icon("menu"       , "./svg/menu.svg"        , 24)
                      .icon("share"      , "./svg/share.svg"       , 24)
                      .icon("google_plus", "./svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./svg/twitter.svg"     , 512)
                      .icon("phone"      , "./svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('deep-orange')
                          .accentPalette('amber');

              });

          angular.module('starterApp').config(function(paginationTemplateProvider) {
            paginationTemplateProvider.setPath('./bower_components/angular-utils-pagination/dirPagination.tpl.html');
          });

    </script>

  </body>
</html>
