html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px 0 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto auto auto 20px;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.selected {
    color: #03a9f4 !important;
}

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: auto;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 600;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.letter-button{
  margin: 4px;
  min-width: 30px !important;
}

md-divider.divider-btm{
  padding-bottom:15px;
}

.name-dsc{
  padding-top: 5px;
  color: #666;
  font-style: italic;
}

.baby-nm-ds{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.baby-nm-ds i{
  font-size: 30px;
  padding: 12px 15px 0 5px;
  min-width: 40px;
}

.baby-grl{
  color:#FF69B4;
}

.baby-boy{
  color:#62BFF8;
}

.loading-br{
  padding:5px 0;
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}

.site-sidenav > * {
  min-width: 164px;
}

.docs-menu li {
  margin: 0;
}
ul li {
  list-style-position: inside;
  margin-left: 16px;
  margin-top: 3px;
  padding: 0;
}


.docs-menu, .docs-menu ul {
  list-style: outside none none;
  padding: 0;
}
.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: medium none;
}
.md-whiteframe-glow-z2 {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 4px 3px rgba(0, 0, 0, 0.14), 0 0 8px 1px rgba(0, 0, 0, 0.12);
}
.docs-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.docs-menu > li:nth-child(-n+1) {
  border-top: medium none;
}
.docs-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.docs-menu md-select {
  margin: 0;
  width: 100%;
}
.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}
.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}
.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}
.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.docs-menu .md-button.active {
  color: #03a9f4;
}
.menu-heading {
  color: rgba(0, 0, 0, 0.54);
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
}
.docs-menu li.parentActive, .docs-menu li.parentActive .menu-toggle-list {
  background-color: #f6f6f6;
}
.menu-toggle-list {
  background: #fff none repeat scroll 0 0;
  max-height: 2000px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1) 0s;
  z-index: 1;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}
.docs-menu .menu-toggle-list a.md-button {
  display: block;
  font-weight: 400;
  padding: 0 16px 0 32px;
  text-transform: none;
}
.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out 0s;
  vertical-align: middle;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
}
