<div id="home" ng-controller="Home">

  <!--<md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <span class="md-title">Girl</span>
      </md-tab-label>
    </md-tab>
    <md-tab class="md-title">
      <md-tab-label>
        <span class="md-title">Boy</span>
      </md-tab-label>
    </md-tab>
  </md-tabs>-->
    <md-radio-group layout="row" ng-model="gender" ng-change="loadNames()">
    <md-radio-button value="g" class="md-primary md-title" >Girl</md-radio-button>
    <md-radio-button value="b" class=" md-title" > Boy </md-radio-button>
    <md-radio-button value="favs" class="md-primary md-title"> Favs </md-radio-button>
  </md-radio-group>
  <md-divider class="divider-btm"></md-divider>
  <md-grid-list ng-if="gender!=='favs'" layout="row" layout-align="center center"
                md-cols-gt-md="26" md-cols-sm="8" md-cols-md="13" md-row-height="40px"
                md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
    <md-grid-tile
      ng-repeat="ltrs in letters"
      md-colspan-gt-sm="1"
      md-rowspan-gt-sm="1">
      <md-button class="md-raised letter-button" ng-click="setLetter(ltrs.ltr)" ng-class="{'md-primary' : ltrs.ltr === selectedLtr }" >{{ltrs.ltr}}</md-button>
    </md-grid-tile>
  </md-grid-list>
  <div layout="row" ng-if="loading" class="loading-br" layout-sm="column" layout-align="space-around">
    <md-progress-linear md-diameter="20" md-mode="indeterminate"></md-progress-linear>
  </div>

  <div ng-if="gender!=='favs'">
    <div dir-paginate="name in names | itemsPerPage: 50" current-page="pgntn.currPage">
    <md-card >
      <md-card-content>
        <div layout="row" layout-wrap>
          <div flex="75" class="baby-nm-ds">
            <i class="fa fa-lg md-fa-lg" ng-class="name.sx=='b'?'fa-male baby-boy':'fa-female baby-grl'" ></i>
            <div>
              <span class="md-title">{{ name.nm }}</span><br/>
                      <span class="name-dsc" >
                        {{ name.dc }}
                      </span>
            </div>
          </div>
          <div flex="25" >
            <md-button class="md-fab md-mini pull-right" aria-label="Add to Favorites" ng-click="addToFavs(name, !name.fv)">
              <md-tooltip ng-if="!name.fv">
                Add to Favorites
              </md-tooltip>
              <md-tooltip ng-if="name.fv">
                Remove from Favorites
              </md-tooltip>
              <i class="fa fa-lg md-fa-lg" ng-class="name.fv?'fa-star':'fa-star-o'" ></i>
            </md-button>
          </div>
        </div>
      </md-card-content>
    </md-card>
    </div>
    <dir-pagination-controls on-page-change="pageChange(newPageNumber)" class="pull-right">
    </dir-pagination-controls>
  </div>
  <div ng-if="gender==='favs'">
    <md-card ng-repeat="name in names" ng-if="name.fv===true">
        <md-card-content>
          <div layout="row" layout-wrap>
            <div flex="75" class="baby-nm-ds">
              <i class="fa fa-lg md-fa-lg" ng-class="name.sx=='b'?'fa-male baby-boy':'fa-female baby-grl'" ></i>
              <div>
                <span class="md-title">{{ name.nm }}</span><br/>
                      <span class="name-dsc" >
                        {{ name.dc }}
                      </span>
              </div>
            </div>
            <div flex="25" >
              <md-button class="md-fab md-mini md-warn pull-right" aria-label="Add to Favorites" ng-click="addToFavs(name, false)">
                <md-tooltip>
                  Remove from Favorites
                </md-tooltip>
                <i class="fa fa-times fa-lg md-fa-lg"></i>
              </md-button>
            </div>
          </div>
        </md-card-content>
      </md-card>
  </div>

</div>
